@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    background: #f3e7c4;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    z-index: 100;
}

nav ul li {
    display: inline-block;
    /* list-style: none; */
    margin: 10px 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(4, 104, 124);
}

.text-box {
    margin-top: 130px;
    max-width: 600px;
}

.text-box h1 {
    color: rgb(78, 31, 31);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 30px;
}

.text-box a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #e30414;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
    font-family: 'DM Sans', sans-serif;

}

.user-box {
    position: absolute;
    top: 0;
    right: 12%;
    z-index: 1;
}

.user-box img {
    display: block;
    padding-top: 240px;
    width: 410px;
    height: 600px;
    margin-bottom: -205px;
    ;
}

.play {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.play-col {
    flex-basis: 48%;
}




.text-box-play {
    margin-top: 10px;
    max-width: 600px;
}

.text-box-play h1 {
    font-size: 45px;
    margin-bottom: 20px;
}


.user-box-play {
    position: absolute;
    right: 12%;
}

.user-box-play img {
    display: block;
    width: 410px;
}

hr {
    color: #000000;
}

.content {
    background-color: #f3e7c4;
    align-items: center;
    height: 90vh;
}

.content h1 {
    padding-top: 40px;
    color: rgb(78, 31, 31);
}

.content p {
    padding-top: 30px;
    color: rgb(0, 0, 0);
    padding-left: 150px;
    padding-right: 150px;

}


footer {
    text-align: center;
    padding: 3px;
    background: #000000;
    color: rgb(255, 255, 255)
}


.review-card {
    width: 400px;
    margin: 20px auto;
    border: 2px solid #333;
    padding: 10px;
}

.name {
    font-size: 1.3em;
    font-weight: bold;
}

.date {
    font-size: 0.9em;
    color: #999;
}

.rating {
    font-size: 1.2em;
}

.review-text {
    font-size: 1em;
}

form {
    margin-top: 20px;
    width: 400px;
    margin: 0 auto;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
}

form button {
    width: 100%;
    padding: 10px;
    color: green;
    font-weight: bold;
}

input[type=submit] {
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;

}


#reviews {
    background: #f3e7c4;

}



.content img {
    display: block;
    border-radius: 10px;
    width: 45%;
    padding-left: 150px;
    padding-top: 100px;
}


.img2 {
    float: left;
    padding-left: 30px;
    border-radius: 10px;
    width: 45%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.text {
    padding-left: 20px;
}


.container {
    padding: 20px;
    background-color: #f3e7c4;


}

.floatchild {
    width: 50%;
    float: left;
    padding: 20px;
    color: black;
    background-color: #f3e7c4;
}

.floatchild a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #e30414;
    padding: 9px 30px;
    font-size: 18px;
    margin-top: 45px;
    border-radius: 6px;
    font-family: 'DM Sans', sans-serif;

}

.about h1 {
    justify-content: center;
    padding-top: 80px;
}


.about p {
    justify-content: center;
    padding-top: 20px;
    display: block;
}